//! VARIABLES
$accent-color: #e74c3c;
$dark-accent: #2c3e50;
$light-accent: #ecf0f1;
$heading-font: Playfair Display;
$body-font: Lato;
//? Media Queries
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

@import "./partials/global";
@import "./partials/typography";
@import "./partials/landing";
@import "./partials/about";
@import "./partials/work";
@import "./partials/case-study";
@import "./partials/pillar";