.work-hero{
    height: 100vh;
    width: 100%;
    // background: red;

    .content{
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
}

#info{
    height: 40vh;
    padding: 2em 0;

    .container{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: $breakpoint-medium){
    #info{
        .container{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 10px;
            justify-self: start;

            .content{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2.5%;
            }
        }
    }
}